.user_info {
    position: fixed;
    right: 0;
    top: 0;
    height: var(--height-navbar);
    display: flex;
    align-items: center;
    color: #ddd;
    font-size: 14px;
    letter-spacing: 1px;
}

@media (max-width: 600px) {
    .user_info *:nth-child(2) {
        display: none;
    }
}

@media (max-width: 400px) {
    .user_info *:nth-child(1) {
        display: none;
    }
}